// 顏色
$white: #FFFFFF;
$Ivory: #FBF2F2;
$redWine: #650300;
$black: #111619;
$grey: #DEE2E6;
$darkGrey: #707070;
$lightGrey: #DEE2E6;
$red: #AA0601;
$pink: #AA06010D;

/*-------------用專業的心，做專業的事-------------*/


img {
    max-width: 100%;
}

.bgc {
    background-color: $pink;
}

.items {
    color: $redWine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;

    h2 {
        font-size: 48px;
        padding: 0 0 60px 0;
        padding-top: 64px;
        font-weight: 900;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
        margin: 0;
        padding-left: 0;

        li{
            max-width: 208px;
        }

        .img {
            height: 100px;
        }

        h3 {
            font-size: 24px;
        }

        p {
            padding: 0 10px;
            text-align: left;
            font-weight: bold;
        }

        .galss {
            padding-right: 0px;
        }
    }
}

/*--------------經典系列鏡框--------------*/
.glassesType {
    h2 {
        font-size: 48px;
        padding: 0 0 60px 0;
        padding-top: 64px;
        font-weight: 700;
        text-align: center;
        color: $redWine;
    }
}

.classicGlass {
    max-width: 1200px;
    margin: 0 auto;
    color: $redWine;

}

.item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    font-size: 36px;
    color: $red;
    font-weight: bold;
    font-style: italic;

    img {
        width: 48px;
        height: 38px;
    }

    h3 {
        padding-left: 8px;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: $red;
    }
}

.sunGlass {
    display: flex;
    flex-direction: row-reverse;
    .item-img {
        margin: 0 auto;
    }
}

.functional {
    padding-bottom: 80px;
}

/*------聯名設計鏡框------*/
.glassesFrames {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../img/bg.png")no-repeat center/cover;
    width: 100%;
    height: 743px;
    h3 {
        font-size: 48px;
        color: $white;
    }

    .item-glassesFrames {
        display: flex;
        font-size: 3rem;
        color: $red;

        h2 {
            z-index: 1;
            margin: 0;
        }

        .double {
            background: url("../img/product-8.png")no-repeat center/cover;
            width: 540px;
            height: 512px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            h2:hover {
                animation-name: scaleDraw;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 4s;
            }
        }

        .youth {
            background: url("../img/product-9.png")no-repeat center/cover;
            width: 540px;
            height: 512px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            
            position: relative;


            h2:hover {
                animation-name: scaleDraw;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 4s;
            }
        }

        .bg-white {
            background-color: $white;
            opacity: .5;
            width: 100%;
            height: 512px;
            position: absolute;
        }
    }
}

/*------顧客推薦------*/
.customer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 48px;
        color: $redWine;
        font-weight: 700;
    }

    .c-items {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        margin-bottom: 64px;
    }

    .c-item {
        margin-right: 30px;
        width: 330px;

        img {
            margin-bottom: -5px;
        }

        .c-text {
            padding: 16px;
            border: solid 1px $grey;
            border-top: none;

            >p {
                margin-top: 0px;
            }

            p:nth-child(3) {
                color: $darkGrey;
            }
        }
    }
}

/*------聯繫我們------*/
.contactUs-bg {
    background-color: $pink;

    .contactUs {
        width: 730px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 900;

        h2 {
            padding-top: 64px;
            margin-bottom: 24px;
            font-size: 48px;
        }

        form {
            display: flex;
            flex-direction: column;

            legend {
                font-size: 20px;
                margin-bottom: 20px;
            }

            input {
                margin-bottom: 16px;
            }

            input[value] {
                color: $grey;
                padding: 14px 0 14px 16px;
            }

            .check {
                display: flex;
                margin-bottom: 42px;
            }
        }

        .btn {
            margin-bottom: 80px;
        }

        .btn a {
            margin: 0 auto;
            display: block;
            background-color: $red;
            padding: 16px 0;
            text-decoration: none;
            color: $white;
            text-align: center;
        }
    }
}

/*-------我是動畫---------*/
@keyframes scaleDraw {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

/*-----------@media-----------*/